/* main */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px;
}
:root {
  --acent: #00A4E5;
  --text: #48555B;
  --trans: .5s ease;
}

/* header */
.header {
  background: url(../img/header/bg.jpg) no-repeat center bottom / cover;
  padding: 41px 0 71px;
  text-align: center;
  color: #fff;
  min-height: 768px;
}
.header__link {
  margin-bottom: 317px;
  display: inline-block;
}

.header__title {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}
.header__subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 220px;
}
.header_scroll {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3.7px;
}

/* nav */
.nav {
  padding: 24px 0;
}
.nav__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.mnu {
  display: flex;
  gap: 30px;
}
.mnu__item {
  list-style-type: none;
}
.mnu__link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);
  font-size: 12px;
  font-weight: 600;
}
.mnu__link:hover {
  color: var(--acent);
  font-weight: 700;
  transition: var(--trans);
}
.nav__line {
  height: 1px;
  background-color: #E6E6E6;
  margin-top: 20px;
  letter-spacing: 1.09091px;
}

/* story */
.story {
  padding: 57px 0 100px;
}
.section__title {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 2.30625px;
}

.story__title {
  text-align: center;
  margin-bottom: 70px;
}
.story__title::after {
  margin: 0 auto;
}

.section__title::after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--acent);
  display: block;
  margin-top: 10px;
}
/* .title__line {
  width: 50px;
  height: 2px;
  background-color: var(--acent);
  margin-bottom: 80px;
}
.story__line {
  margin: 0 auto;
  margin-bottom: 80px;
} */
.story__wrap {
  display: flex;
  justify-content: space-between;
}
.story__left {
  width: 395px;
  color: var(--text);
  letter-spacing: 0.1875px;
}
.story__left__title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}
.story__left__title span {
  color: var(--acent);
}
.story__left__text {
  font-size: 13px;
}
.story__right {
  display: flex;
  gap: 20px;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
}
.story__right__item {
  width: 140px;
  height: 224px;
  padding: 15px;
  /* cursor: pointer; */
}
/* .story__right__item:hover {
  transform: scale(1.05);
  transition: var(--trans);
} */
.story__right__item:nth-child(1) {
  background-image: url(../img/story/1.png);
}
.story__right__item:nth-child(2) {
  background-image: url(../img/story/2.png);
}
.story__right__item:nth-child(3) {
  background-image: url(../img/story/3.png);
}

/* services */
.services {
  padding: 115px 0;
}
.services__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 78px;
}
.services__descr {
  font-size: 11px;
  color: var(--text);
  width: 390px;
  letter-spacing: 0.2px;
  margin-left: 140px;
}
.btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background-color: var(--acent);
  padding: 11px 29px;
  color: #fff;
  letter-spacing: 0.5px;
  border: 1px solid transparent;
}
.btn:hover {
  background-color: transparent;
  border: 1px solid var(--acent);
  color: var(--acent);
  transition: var(--trans);
}
.services__content {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  color: var(--text);
}
.services__content__item {
  width: 295px;
  border: 1px solid #E6E6E6;
  padding: 38px 0 39px 23px;
  box-shadow: 0px 4px 4px 0px #00000040;
  /* cursor: pointer; */
}
/* .services__content__item:hover {
  transform: scale(1.05);
  transition: var(--trans);
} */
.services__item__img {
  margin-bottom: 25px;
}
.services__item__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.426667px;
  margin-bottom: 13px;
}
.services__item__descr {
  font-size: 13px;
  letter-spacing: 0.1875px;
  width: 250px;
}

/* cta */
.cta {
  padding: 120px 0 130px;
  background: url(../img/cta/bg_cta.jpg) no-repeat center / cover;
  text-align: center;
  height: 500px;
}
.cta__title {
  font-size: 30px;
  font-weight: 700;
  color: var(--text);
  margin: 0 auto;
  margin-bottom: 35px;
  letter-spacing: 0.15px;
  width: 350px;
}

/* signup */
.signup {
  padding: 30px 0;
  background-color: #171819;
}
.signup__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup__title {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  letter-spacing: 0.846154px;
  margin-right: 70px;
}
.signup__input {
  border: 1px solid #979797;
  width: 250px;
  height: 42px;
  padding-left: 16px;
  font-size: 14px;
  color: var(--text);
  letter-spacing: 0.07px;
  margin-right: -4px;
}
.signup__input:focus {
  outline: 0;
}

/* footer */
.footer {
  padding: 42px 0 23px;
  background-color: #141A20;
  color: #fff;
}
.footer__wrap {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin-bottom: 50px;
}
.footer__info {
  width: 250px;
}
.footer__title {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.846154px;
  margin-bottom: 20px;
}
.footer__logo {
  margin-bottom: 15px;
}
.footer__descr {
  font-size: 11px;
  letter-spacing: 0.85px;
}
.footer__links__wrap {
  display: flex;
  gap: 30px;
}
.footer__links__title {
  margin-bottom: 10px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.846154px;
}
.footer__contacts {
  width: 141px;
  font-size: 11px;
  letter-spacing: 0.846154px;
}
.contacts__title {
  margin-bottom: 15px;
}
.footer__contact__address {
  margin-bottom: 15px;
}
.footer__contact__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
.footer__contact__phone {
  margin-bottom: 15px;
}
.footer__social {
  display: flex;
  gap: 15px;
}
.footer__social__link {
  text-decoration: none;
  color: #fff;
}
.footer__copy {
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.846154px;
}

/* media */
@media screen and (max-width: 1600px) {
  /* story */
  .story__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
  .story__left {
    width: 100%;
    margin-bottom: 20px;
  }

  /* services */
  .services__descr {
    margin-left: 0;
  }
}

@media screen and (max-width: 1300px) {
   /* main */
  .container {
    padding: 0 15px;
  }

  /* services */
  .services__wrap {
    flex-direction: column;
  }
  .services__title {
    margin-bottom: 20px;
  }
  .services__title::after {
    margin: 10px auto 0;
  }

  .services__descr {
    margin-bottom: 20px;
  }
  .services__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  /* main */
  section {
    padding: 50px 0 !important;
  }

  /* header */
  .header__link {
    margin-bottom: 200px;
  }
  .header__title {
    font-size: 45px;
  }

  /* nav */
  .nav__wrap {
    align-items: flex-start;
  }
  .mnu__link:hover {
    color: var(--text);
    font-weight: 400;
  }
}

@media screen and (max-width: 900px) {
  /* signup */
  .signup__wrap {
    flex-direction: column;
  }
  .signup__title {
    margin-right: 0;
    margin-bottom: 20px;
  } 

  /* footer */
  .footer__wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer__info {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__links, .footer__contacts {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  /* header */
  .header__title {
    font-size: 40px;
  }
  
  /* nav */
  .nav__wrap {
    flex-direction: column;
  }
  .nav__link {
    margin-bottom: 10px;
  }
  .mnu {
    gap: 10px;
  }
  .mnu__link {
    font-size: 11px;
  }

  /* story */
.story {
  padding: 50px 0;
}
.story__right {
  flex-wrap: wrap;
  justify-content: center;
}

/* services */
.services__descr {
  width: 100%;
}

/* cta */
.cta__title {
  width: 100%;
}

/* signup */
.signup__input {
  width: 150px;
  padding-left: 10px;
}
}






